PORT=
MONGO_URL=
MONGO_URL_CLOUD=

# Encryption
ENC_KEY=
ENC_IV_LENGTH=

# JWT SECRETS
# Access Tokens
JWT_ACCESS_SECRET_USER=
JWT_ACCESS_EXP_USER=
JWT_ACCESS_SECRET_ADMIN=
JWT_ACCESS_EXP_ADMIN=

# Refresh Tokens
JWT_REFRESH_SECRET_USER=
JWT_REFRESH_EXP_USER=
JWT_REFRESH_SECRET_ADMIN=
JWT_REFRESH_EXP_ADMIN=

# CORS 
CORS_WHITELISTED_ORIGINS=

# gcp
GCP_CLIENT_ID=

# REDIS URL
REDIS_URL=

# Nodemailer config
EMAIL_USER=
EMAIL_PASS=
EMAIL_SERVICE=